{% extends "base.html" %}
{% load static %}
{% block title %}{{product.title | slice:10}}{% endblock title %}
{% block head %}
<!-- Meta Description -->
<meta name="description" content="{{ product.description|truncatechars:150 }}">

<!-- Open Graph Meta Tags for Social Sharing -->
<meta property="og:title" content="{{ product.title }}">
<meta property="og:description" content="{{ product.description|truncatechars:150 }}">
<meta property="og:image" content="{{ product.thumbnail.url }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:type" content="product">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ product.title }}">
<meta name="twitter:description" content="{{ product.description|truncatechars:150 }}">
<meta name="twitter:image" content="{{ product.thumbnail.url }}">

<!-- Other Meta Tags (SEO, etc.) -->
<meta name="keywords" content="{{ product.title }}, VAMS Books Store, eBooks, PDF">
<meta name="author" content="VAMS Books Store">

<!-- Canonical URL -->
<link rel="canonical" href="{{ request.build_absolute_uri }}">

<link href="{% static "assets/css/item.css" %}" rel="stylesheet">


{% endblock head %}
{% block style %}


{% endblock style %}
{% block content %}
<div class="row">
    <!-- Product Images Carousel -->
    <div class="col-md-6">
        
        {% if not product.is_paperback %}
            {% include "viewer/pdf_viewer_item.html" %}
            {% block pdf_view %}{% endblock pdf_view %}
        {% else %}
        {% comment %} <div class="item-img">
        <img src="{{product.thumbnail.url}}">
        </div> {% endcomment %}
        <div id="productImagesCarousel" class="carousel slide">
            <div class="carousel-inner">
                {% for image in product.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100" alt="Product Image">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productImagesCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productImagesCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            
        </div>
        {% endif %}
    </div>


    <!-- Product Details -->
    <div class="col-md-6 item">
        <h1>{{ product.title }}
            <span class="card-text">{% if product.is_paperback %}(Paperback){% else %}(eBook){% endif %}</span>
        </h1>
        <p>{{ product.description }}</p>
        <p class="card-text-author">by {% if product.author %}<a href="#">{{ product.user.username|capfirst}}</a>(Author){% else %}<a href="#">{{ product.user.username|capfirst}}</a>{% endif %}</p>
        <div class="rating-box">
            <span class="rating-stars"></span>
            <span class="rating-number">{{product.rating}}</span>
        </div>
        {% if not product.is_free %}
        <p class="card-text">
            {% if product.og_price %}
            <span class="text-muted original-price card-text-mrp">M.R.P.: ₹{{ product.og_price }}</span><br>
            {% endif %}
            <span class="card-text-discounted"><span class="rupee-symbol">₹</span><span class="item-price">{{ product.price|floatformat:"0" }}</span></span>
        </p>
        {% endif %}
        <!-- Add to Cart & Buy Now Buttons -->
        <div class="d-flex">
            {% if product.is_free %}
            <a href="{{product.pdf_file.url}}" class="btn btn-success">Download</a>

            {% else %}
            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success  me-3">Add to Cart</a>
            {% endif %}
            {% comment %} <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Buy Now</a> {% endcomment %}
        </div>
    </div>
</div>
{% endblock content %}