
.h-107 {
    height: 107% !important;
}

.card-text {
    font-size: small;
    color: grey;
    margin-bottom: 0;
}
.card-text-price{
    font-size: small;
    color: grey;
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 10px 10px 10px 0px;

}
.card-text-author {
    font-size: small;
    color: black;
    margin-bottom: 0;
}
.card-text-mrp {
    font-size: smaller;
    margin-bottom: 0;
}

.card-text-discounted {
    font-size: smaller;
    margin-bottom: 0;
}
.item-price {
    font-size: large;
    margin-bottom: 0;
    color: black;
}

.card-text-author a {
    color: #4b9698;
}
.rating-box {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 0px 7px 0px 0px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    position: relative;
  }

  .rating-stars {
    color: gold; /* Color for stars */
    margin-right: 8px;
  }

  .rating-number {
    font-weight: bold;
  }

  .rating-box:before {
    content: '\2605 \2605 \2605 \2605 \2605';
    font-size: 12px;
    color: goldenrod;
    position: absolute;
    top: -2px;
    left: 33px;
  }
  .card-text-discounted .rupee-symbol {
    font-size: smaller;
  }

  .price-btn {
    float: right;
    
  }
  .price-btn-style {
    float: right;
    background-color: #eef7f0 !important; /* Green background */
    border-radius: 8px !important; /* Makes the button more rounded */
    padding: 5px 20px !important; /* Adjusts the padding */
    font-size: small !important;
    font-weight: bold !important; /* Makes the text bold */
}

.price-btn-style:hover {
    background-color: #218838 !important; /* Darker green on hover */
    color: #fff; /* Ensures text stays white on hover */
}

/* Mobile view: Hide the filter section initially */
@media (max-width: 768px) {
    .filter-section {
        display: none; /* Ensure the element doesn't take up space when hidden */
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }

    .filter-section.open {
        display: block; /* Show the element */
        max-height: 500px; /* Adjust based on your content's height */
        opacity: 1;
    }

    .filter-btn {
        margin: 20px 0;
        display: block;
        width: 100%;
        text-align: center;
    }
    .card-img-top {
        height: 100%;
    }
}

/* Show filter section normally on larger screens */
@media (min-width: 769px) {
    .filter-btn {
        display: none;
    }

    .filter-section {
        display: block;
        max-height: none;
        opacity: 1;
    }
    .card-img-top {
        height: 380px;
    }
}
