Django==4.1.13
asgiref==3.9.0
dj-rest-auth==2.2.0
djangorestframework==3.14.0
django-allauth==0.63.4
django-admin-volt==1.0.10
django-appconf==1.1.0
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-cors-headers==3.13.0
django-filter==22.1
django-quill-editor==0.1.40
django-select2==7.11.1
django-timezone-field==7.1
django-widget-tweaks==1.4.12
drf-spectacular==0.28.0
drf-yasg==1.21.6

# Celery and related
celery==5.2.7
billiard==3.6.4.0
kombu==5.5.4
amqp==5.3.1
redis==4.5.5
vine==5.1.0
cron-descriptor==1.4.5

# Security / Auth
cryptography==41.0.4
PyJWT==2.8.0
oauthlib==3.2.2
requests-oauthlib==2.0.0
python3-openid==3.2.0

# Utilities
python-dotenv==1.0.1
sqlparse==0.4.4
pytz==2025.2
tzdata==2025.2
humanize==4.12.3
hashids==1.3.1
inflection==0.5.1
typing_extensions==4.4.0
attrs==24.3.0
defusedxml==0.7.1
idna==3.8
urllib3==2.0.7
certifi==2024.6.2
charset-normalizer==3.3.2
requests==2.31.0
PyYAML==6.0

# Optional/Content
beautifulsoup4==4.13.4
soupsieve==2.7
Pillow==9.5.0
PyPDF2==3.0.1
Jinja2==3.1.5
MarkupSafe==3.0.2

# DB Drivers
mysqlclient==2.1.1
psycopg2-binary==2.9.6

# Data
pandas==2.1.4
numpy==1.26.4

# Payment / API
razorpay==1.4.2
